<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="jumbotron text-center rounded col-md-10 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>ГОНЧАРНАЯ МАСТЕРСКАЯ</h1>
                </div>
                <div>&nbsp;
                    <p th:text="'Добро пожаловать в мир творчества и вдохновения!&#10;&#10;Наша гончарная мастерская — это место, где мечты обретают форму, а глина становится искусством.&#10;Присоединяйтесь к нашим мероприятиям, пробуйте себя в роли мастера, создавайте свои шедевры и вдохновляйтесь атмосферой уюта и гармонии.&#10;&#10;Начните свое путешествие в гончарное искусство прямо сейчас!'"></p>
                </div>
                <div th:if="${not #lists.isEmpty(model.events)}">
                    <div th:each="event : ${model.events}"
                         class="d-flex bg-light mb-4 p-4 border rounded" style="width: 100%;">
                        <div class="d-flex flex-column align-items-center col-md-4">
                            <h2 class="text-center mt-3" th:text="${event.name}">Название мероприятия</h2>
                            <img th:src="${event.imageUrl}" style="width: 100%; max-height: 300px; object-fit: cover;">
                        </div>
                        <div class="d-flex flex-column justify-content-center col-md-8">
                            <h4 th:text="${event.description}">Описание</h4>
                            <h4 th:text="'Категория: ' + ${event.categoryName}">Категория</h4>
                            <h4 th:text="'Сложность: ' + ${event.difficultyName}">Сложность</h4>
                            <h4 th:text="'Длительность: ' + ${event.duration} + ' мин.'">Длительность</h4>
                            <h4 th:text="'Дата проведения: ' + ${#temporals.format(event.date, 'dd MMMM yyyy, HH:mm', new java.util.Locale('ru', 'RU'))}">
                                Дата и время</h4>
                            <h4 th:text="'Стоимость: ' + ${event.cost} + ' рублей'">Стоимость</h4>
                            <h4 th:text="'Гончар: ' + ${event.potterName}">Гончар</h4>
                            <div class="mt-3">
                                <a class="btn btn-primary"
                                   th:href="@{/events/{eventId}(eventId=${event.id})}">Записаться</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
